<div class="container">
  <div class="row mt-3">
    <div class="d-flex justify-content-between">
      <div class="col-md-10">
        <h1>Calendar Assessment</h1>
      </div>
      <div class="col-md-2">
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-success" type="button" (click)="onCreateAppointment()">Create
            Appointment</button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sat</th>
          <th scope="col">Sun</th>
          <th scope="col">Mon</th>
          <th scope="col">Tue</th>
          <th scope="col">Wen</th>
          <th scope="col">Thu</th>
          <th scope="col">Fri</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="shadow p-3">Cell</td>
          <td class="shadow p-3">Cell</td>
          <td class="shadow p-3">Cell</td>
          <td class="shadow p-3">Cell</td>
          <td class="shadow p-3">Cell</td>
          <td class="shadow p-3">Cell</td>
          <td class="shadow p-3">Cell</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
